@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --emerald-50: #f0fdf4;
  --emerald-100: #dcfce7;
  --emerald-200: #bbf7d0;
  --emerald-300: #86efac;
  --emerald-400: #4ade80;
  --emerald-500: #22c55e;
  --emerald-600: #16a34a;
  --emerald-700: #15803d;
  --emerald-800: #166534;
  --emerald-900: #14532d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald-50: var(--emerald-50);
  --color-emerald-100: var(--emerald-100);
  --color-emerald-200: var(--emerald-200);
  --color-emerald-300: var(--emerald-300);
  --color-emerald-400: var(--emerald-400);
  --color-emerald-500: var(--emerald-500);
  --color-emerald-600: var(--emerald-600);
  --color-emerald-700: var(--emerald-700);
  --color-emerald-800: var(--emerald-800);
  --color-emerald-900: var(--emerald-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --emerald-50: #064e3b;
    --emerald-100: #065f46;
    --emerald-200: #047857;
    --emerald-300: #059669;
    --emerald-400: #10b981;
    --emerald-500: #34d399;
    --emerald-600: #6ee7b7;
    --emerald-700: #a7f3d0;
    --emerald-800: #d1fae5;
    --emerald-900: #ecfdf5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
